
colores {
color: #f5f5f5;
color: #000000;
color: #fff;
color: orange;
color: blue;
color: #dbdada;
color: #612e1d;
color: #13131342;
color: #440d5a;
color: #fef6f4;
color: rgba(245, 245, 245, 0.335);
color: rgba(109, 104, 104, 0.801);
}


::root {
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0; padding: 0; box-sizing: inherit;
}

.navbar {
    width: 100%; height: 56px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar .links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative;
    height: 100%;
}

.links li a {
    color: white;
    text-decoration: none;
}

.links .logo {
    height: 100px;
    width:100px;
    background: #000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 1;
}

.links .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-image-container {
    position: relative;
}

.main-image-header {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.main-image-header h1 {
    font-family: 'Monoton', cursive;
    font-size: 5em;
}

.main-image-header p {
    font-family: 'Raleway', sans-serif;
}

#main-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.gallery .gallery-item {
    width: 30%;
    min-width: 300px;
    border: 1px solid rgba(107,107,107,1);
    -webkit-box-shadow: 5px 6px 12px -4px rgba(107,107,107,1);
    -moz-box-shadow: 5px 6px 12px -4px rgba(107,107,107,1);
    box-shadow: 5px 6px 12px -4px rgba(107,107,107,1);
}

.gallery .gallery-item h3{
    color: #612e1d;
}

.gallery .gallery-item .gallery-img {
    width: 100%;
    height: 15rem;
}

.gallery .gallery-item {
    display: block;
    margin: 2em 1em;
    background-color: white;
    color: white;
    border-radius: 6px;
    align-items: center;
}

.gallery .gallery-item .gallery-desc {
    font-weight: 300;
    padding: 5px 10px;
    color: black;
}

.button {
    display: block;
    padding: 10px;
    background: orange;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}

.gallery-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.footer {
    background-image: url("../assets/images/contacus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px 20px;
}

.footer-top form * {
    display: block;
    color: white;
}

.contact-us {
    color: white;
    background-color: rgba(245, 245, 245, 0.335);
    border-radius: 6px;
}

.footer-bottom {
    background: black;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
}

.footer-bottom ul {
    list-style: none;
    margin-top: 4px;
    margin-left: 15px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}